<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect semua permintaan ke public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /public/index.php [L]
</IfModule>
